{% extends 'base.html' %}
{% load static %}


{% block content %}
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'create car' %}">Create Car</a>
            <a href="{% url 'details profile' %}">Profile</a>
        </nav>
    </header>

    <!-- profile details section -->
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                {% if not user.profile_picture %}
                <!-- default profile image (if the user does NOT have any)-->
                    <img class="car-img" src="{% static 'images/default-profile.png' %}" alt='profile-image'/>
                {% endif %}
                {% if user.profile_picture %}
                <!-- if the user has a profile image -->
                    <img class="car-img" src="{{ user.profile_picture }}" alt='profile-image'/>
                {% endif %}
                <!-- user full name (if any) -->
                {% if name %}
                <h1>{{ name }}</h1>
                {% endif %}
                <!-- user username -->
                <p class="description">Username: {{ user.username }}</p>
                <!-- user email -->
                <p class="description">Email: {{ user.email }}</p>
                <!-- user age -->
                <p class="description">Age: {{ user.age }}</p>
                <!-- total price of all cars -->
                <p class="description">Total price: {{ car_price_count|floatformat:3 }}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit profile' %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete profile' %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}